# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

SyncTalk/

GPT-SoVITS/

test_data/

models_zh/

temp_rvc_text.txt
conversation_log.txt
latest_ai_response.txt
latest_user_aud.wav
latest_user_aud_mono.wav
chat_history.json
chunk_*.wav
io/temp
.env

GeneFace/checkpoints/
!GeneFace/checkpoints/.gitkeep

GeneFace/data/binary/
!GeneFace/data/binary/.gitkeep

GeneFace/data/processed/videos/
!GeneFace/data/processed/videos/.gitkeep

GeneFace/data/raw/videos/
GeneFace/data/raw/val_wavs/
GeneFace/data/raw/val_wavs/.gitkeep
!GeneFace/data/raw/videos/.gitkeep

static/videos/

io/input
io/output