<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>GENEFACEPLUSPLUS TALKING SYSTEM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="main-bg">
    <div class="container">
        <h1>GENEFACEPLUSPLUS<br>TALKING SYSTEM</h1>
        <div class="button-container">
            <button onclick="window.location.href='/model_training'">训练模型</button>
            <button onclick="window.location.href='/video_generation'">视频生成</button>
            <button onclick="window.location.href='/chat_system'">人机对话</button>
        </div>
    </div>

    <!-- 添加浮动叶子元素（5 个示例） -->
    <div class="floating-elements" aria-hidden="true">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
    </div>

    <div class="footer">© 2025 昊斌哥哥粉丝团LAB</div>
</body>
</html>
